.favorite-btn {
    top: 1rem;
    right: 1rem;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .favorite-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #4B9830;
  }
  
  .favorite-btn.favorited {
    color: #4B9830; /* Green color when favorited */
  }
  
  .favorite-btn.active {
    color: #ff4757;
  }

  .favorite-btn.favorite-details {
    position: inherit;
    height: 3.5vh;
    width: 2vw;
  }

  .favorite-btn.favorite-card {
    position: absolute;
  }
  @media (max-width: 768px) {
    .favorite-btn {
      width: 32px;
      height: 32px;
      font-size: 1.2rem;
    }
  }