.home {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
}

p {
  width: 37rem;
}

.description {
  margin-top: 20px;
}

.home-description {
  background-color: white;
  color: black;
  width: 110%;
  margin: 0 auto 4rem;
  display: flex;
  text-align: center;
  height: 40ch;
}

.left-container {
  margin: auto;
}
.center-container {
  margin: auto;
  padding: 20px;
  align-content: center;
}

.right-container {
  margin: auto;
}

.search-form {
  max-width: 600px;
  margin: 0 auto 4rem;
  display: flex;
  gap: 0;
  padding: 0 1rem;
  box-sizing: border-box;
}

.search-input {
  flex: 1;
  padding: 1.75rem 1rem;
  border: none;
  border-radius: 12px 0px 0px 12px;
  background-color: white;
  color: gray;
  font-size: 1rem;
}

/* .search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4B9830;
} */

.search-button {
  padding: 1.75rem 1.5rem;
  background-color: #4B9830;
  color: white;
  border-radius: 0px 12px 12px 0px;
  font-weight: 500;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.search-button:focus {
  border-color: #4B9830;
}

.search-button:hover {
  background-color: white;
  color: #4B9830;
  border-color: white;
  border-left: #4B9830;
}

/* Movie Section */
.movie-section {
  margin-bottom: 30px;
  position: relative;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Movie Container - Holds Grid & Buttons */
.movie-container {
  display: flex;
  align-items: center;
  position: relative;
}

/* Movies Grid */
.movies-grid {
  display: flex;
  gap: 1.5rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}

/* Scroll Buttons */
.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #4B9830;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
  border-radius:50%;
  text-align: center;
  width: 4vw;
  padding: 18px;
}

.scroll-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #4B9830;
}

/* Positioning */
.scroll-button.left {
  left: 35px;
}

.scroll-button.right {
  right: 35px;
}



@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
  }

  .search-form {
    margin-bottom: 1rem;
  }
}

