.movie-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: #1a1a1a;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-height: 532px;
  min-width: 15%;
  max-width: 200px;
  flex: 0 0 auto;
  transition: 0.2s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card-expanded{
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: #1a1a1a;
  transition: transform 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-height: 532px;
  max-width: 355px;
}


.movie-card:hover {
  transform: translateY(-5px);
}

.movie-card-front {
  position: relative;
  aspect-ratio: 7/11;
  width: 100%;
}

.movie-card-front img {
  width: 100%;
  height: 82%;
  object-fit: fill;
}

.movie-card-back {
  display: flex;
  flex-direction: column;
  padding: 14px;
  gap: 30px;
  margin-top: auto;
  margin-bottom: auto;
  aspect-ratio: 7/11;
  width: 105%;
}

.movie-back-info{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movie-synopsis {
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 17ch;
  padding: 3px;
}

.movie-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.8)
  );
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}

.movie-card:hover .movie-overlay {
  opacity: 1;
}

.rating-select {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.movie-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.movie-info h3 {
  font-size: 1rem;
  margin: 0;
}

.movie-info p {
  color: #999;
  font-size: 0.9rem;
  margin-bottom: 10px;
  margin-top: 10px;
}

.user-rating {
  color: #ffd700;
  font-size: 0.9rem;
  margin-top: auto;
}

.movie-details-btn {
  display: block;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background: #4B9830;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.movie-details-btn:hover {
  background: white;
  color: #4B9830;
}


.movie-card-similar .movie-info {
  padding-top: 0px;
  padding-bottom: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.movie-card-similar .movie-info  h3{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 10rem;
  margin: 0 auto;
}

.movie-card-similar .movie-info  p{
  margin-top: 5px;
}


@media (max-width: 1440px) {
  .movie-info h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 10rem;
    margin-left: auto;
    margin-right: auto;
  }

  .movie-info p {
    margin-top: 2px;
  }

  .movie-card-back {
    width: 115%;
    max-height: 50vh;
  }

  .movie-details-btn {
    margin-top: 10px;
  }

  }


@media (max-width: 768px) {
  .movie-card {
    font-size: 0.9rem;
  }

  .movie-info {
    padding: 0.75rem;
  }
}
