.movie-section-container {
    padding: 20px;
  }
  
  /* Movie Section */
  .movie-section {
    margin-bottom: 30px;
    position: relative;
  }
  
  .section-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  /* Movie Container - Holds Grid & Buttons */
.movie-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  /* Movies Grid */
  .movies-grid {
    display: flex;
    gap: 2.5rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
  }

/* Scroll Buttons */
.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4B9830;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 2;
    border-radius:50%;
    text-align: center;
    width: 4vw;
    padding: 18px;
  }
  
  .scroll-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #4B9830;
  }
  
  /* Positioning */
  .scroll-button.left {
    left: opx;
  }
  
  .scroll-button.right {
    right: 2px;
  }
  
  
  
  @media (max-width: 1440px) {
  .scroll-button {
    width: 4vw;
    padding: 11px;
    height: 6vh;
  }
  }

  @media (max-width: 810px) {
    .scroll-button {
        width: 7vw;
        padding: 0px;
        height: 5vh;
      }
    }

    @media (max-width: 600px) {
        .scroll-button {
          width: 9vw;
          padding:  0px;
          height: 6vh;
          padding-left: 14px;
          padding-right: 14px;
        }
    }

    @media (max-width: 412px) {
        .scroll-button {
          width: 13vw;
          padding: 0px;
          height: 6vh;
          padding-left: 6px;
          padding-right: 6px;
        }
      }